.card-grid {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
}

@media(min-width: 700px){
    .card-grid{
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media(min-width: 1000px){
    .card-grid{
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}